@import "../../../index.scss";

.blogsCover {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #210006;
  .coverImage {
    opacity: 0.5;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
}
