@import "../../index.scss";

.title {
  background-color: $seconday-colour;
  min-height: 60px;
  .titleBackground {
    background-color: $primary-colour;
    border-radius: 0px 0px 16px 16px;
    min-height: 56px;
    > h3 {
      font-family: $dm-serif;
      font-size: 26px;
      color: $seconday-colour;
      font-weight: lighter;
      padding: 8px 64px;
    }
  }
}
